<div class="container">
    <div class="row">
      <div class="col-md-12">
        <carousel>
          <slide *ngFor="let image of images">
            <img [src]="image.path" alt="Image">
          </slide>
        </carousel>
      </div>
    </div>
  </div>
  
