<div class="container">
    <h2><b>Buy Your Dream Car</b></h2>
    <div class="card-container">
      <p-card *ngFor="let car of cars" [header]="car.name">
        <div class="product-details">
          <img [src]="car.image" alt="Product Image" class="product-image"/>
          <p>{{ car.description }}</p>
          <p>Price: ₹{{ car.price }}</p>
          <p>Rating: {{ car.rating }}</p>
          <button (click)="addToCart(car)" type="button"  class="form-control">Add to Cart</button>
        </div>
      </p-card>
    </div>
  </div>


  <!-- <h1 align="center">Products</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:250px">
                <img class="card-img-top" src={{product.imgsrc}} alt="Card image"
                    style="width:70%; height: 80%; margin-top: 5px; margin-left: 40px;">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text"><b>Price: ₹{{product.price}}/-</b></p>
                    <p class="card-text">{{product.description}}</p>
                    <p align="right"><button class="btn btn-primary">AddToCart</button> </p>
                </div>
            </div>
        </div>
    </div>
</div> -->
