.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  p-card {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(41, 140, 216, 0.5); 
  }
  
  .product-details {
    padding: 1rem;
    text-align: center;
  }
  
  .product-image {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }
  
  button:hover {
    /* margin-top: 1rem; */
    background-color: rgb(30, 145, 217);

    
  }

  button {
    background-color: black;
    border-radius: 5px;
    color: aliceblue;
  }


  h2 {
    color: rgb(30, 145, 217);
  } 


  