
<!-- <app-login></app-login> -->



<app-navbar></app-navbar>
<router-outlet></router-outlet>
<ng-toast></ng-toast>

<!-- <app-register></app-register> -->



<!-- <app-car></app-car> -->


<!-- <app-cart></app-cart> -->

<!-- <app-products></app-products> -->

<!-- <app-bike></app-bike> -->