<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>


  <h1 align="center">Cart Items</h1>

<div class="container">
    <table class="table text-center table-bordered table-sm">
        <thead>
            <tr>
                <th class="bg-info text-white text-center">Product </th>
                <th class="bg-info text-white text-center">Product Name</th>
                <th class="bg-info text-white text-center">Price</th>
                <th class="bg-info text-white text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
               
                <td><img [src]="car.image" alt="Product Image" class="product-image"  height="50" width="50"/></td>
                <td>{{car.name}}</td>
                <td>₹{{car.price}}</td>
                <td><button (click)="deleteCartCar(car)" class="glyphicon glyphicon-trash">  </button></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Total</b></td>
                <td>₹{{total}}</td>
            </tr>
            <tr>
                <td colspan="3" (click)="purchase()" align="right"><button class="btn btn-primary">Purchase</button></td>
            </tr>
        </tbody>
    </table>
</div>
