<app-carousel></app-carousel>
<br><br>
<div class="body">
    <section class="cards">
      <article class="card card--1">
        <div class="card__info-hover">
        </div>
        <div class="card__img"></div>
        <a href="/car" class="card_link">
          <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
          <span class="card__category"> Car Zone</span>
          <h3 class="card__title">Place where you find your dreamed car</h3>
          <span class="card__by"><a class="card__author" title="author">Click Here</a></span>
        </div>
      </article>
      <article class="card card--2">
        <div class="card__info-hover">
        </div>
        <div class="card__img"></div>
        <a href="/bike" class="card_link">
          <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
          <span class="card__category">Bike Zone</span>
          <h3 class="card__title">Place where you find your dreamed bike</h3>
          <span class="card__by"><a href="#" class="card__author" title="author">Click Here</a></span>
        </div>
      </article>
    </section>
  </div>

