<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#" routerLink="">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.disabled]="loginStatus" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Products</a>
          <ul class="dropdown-menu">
            <li><a routerLink="car">Car Zone</a></li>
            <li><a routerLink="bike">Bike Zone</a></li>
        </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">ContactUs</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Logout</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>





