a {
    color: aliceblue;
}


.dropdown-menu {
    display: none;
    position: relative;
    margin-left: 180px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
}

.nav-item:hover .dropdown-menu {
    display: block;
}