<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div>
        <section>
            <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
                <h1 style="font-family: cursive; color: red; font-size: 45px;">Motofusion</h1>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" name="email" ngModel #emailId="ngModel" required minlength="2" maxlength="20">
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" ngModel #password="ngModel" required minlength="2"
                        maxlength="20">
                    <label for="">Password</label>
                </div>
                <div>
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey">
                    </ngx-recaptcha2>
                </div>
                <div class="forget">
                    <!-- <label for=""><input type="checkbox">Remember Me</label> -->
                    <a href="#">Forget Password</a>
                </div>
                <button type="submit" routerLink="/home">Log in</button>
                <div class="register">
                    <p>Don't have a account <a routerLink="/register">Register</a></p>
                </div>
            </form>
        </section>
    </div>
</body>

<div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
<div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>

<div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2 Characters
</div>
<div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 2 Characters
</div>