* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.td {
    color: #fff;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}


input:focus ~ label, 
input:valid ~ label {
    top: -5px;
}


.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}
button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
    background-color: rgb(255, 255,255, 0.5);
}

/* .form {
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
} */

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                