<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit(registerForm.value)">
        <h1 style="font-family: cursive; color: red; font-size: 45px;">Motofusion</h1>
        <table>
            <tr class="tr">
                <td class="td">Enter UserId</td>
                <td><input type="text" name="userId" formControlName="userId"/></td>
            </tr>
            <tr class="tr">
                <td class="td">Enter UserName</td>
                <td><input type="text" name="userName" formControlName="userName" required/></td>
                <small *ngIf="registerForm.controls['userName'].invalid && (registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched)" class="block error" style="color:red">
                    <div *ngIf="registerForm.controls['userName'].errors?.['required']">Name is required.</div>
                    <div *ngIf="registerForm.controls['userName'].errors?.['pattern']">Enter a valid Name</div>
                </small>              
            </tr>
            <tr class="tr">
                <td class="td">Date Of Birth</td>
                <td><input type="date" name="dob" formControlName="dob" /></td>
            </tr>
            <tr class="tr">
                <td for="gender" class="td">Gender</td>
                <td><select id="gender" name="gender" formControlName="gender">
                        <option value="" selected>select...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select></td>
            </tr>
            <tr>
                <td class="td">Mobile Number</td>
                <td><input type="text" name="phoneNumber"  formControlName="phoneNumber" required/></td>             
            </tr>


            <tr class="tr">
                <td class="td">Enter EmailId</td>
                <td><input type="text" name="emailId" formControlName="emailId"  required/>
                    <small *ngIf="registerForm.controls['emailId'].invalid && (registerForm.controls['emailId'].dirty || registerForm.controls['emailId'].touched)" class="block p-error" style="color:red">
                        <div *ngIf="registerForm.controls['emailId'].errors?.['required']">Email is required.</div>
                        <div *ngIf="registerForm.controls['emailId'].errors?.['email']">Invalid Email Format</div>
                      </small>      
                </td>
            </tr>
            <tr class="tr">
                <td class="td">Password</td>
                <td><input type="password" name="password"  formControlName="password" required/></td>
                <small *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="block p-error" style="color:red">
                    <div *ngIf="registerForm.controls['password'].errors?.['required']">Password is required.</div>
                    <div *ngIf="registerForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters.</div>
                    <div *ngIf="registerForm.controls['password'].errors?.['pattern']">Password must be at least 1 (lowercase letter, uppercase letter, digit and special character)</div>
                </small>              
            </tr>
            <tr class="tr">
                <td colspan="2" align="center" class="td"><button>Register</button>
                    Already user? <a routerLink="/login">Login</a></td>
            </tr>
        </table>
    </form>
</body>