<div class="container">
    <h2>Buy Your Dream Bike</h2>
    <div class="card-container">
      <p-card *ngFor="let bike of bikes" [header]="bike.name">
        <div class="product-details">
          <img [src]="bike.image" alt="Product Image" class="product-image"/>
          <p>{{ bike.description }}</p>
          <p>Price: ₹{{ bike.price }}</p>
          <p>Rating: {{ bike.rating }}</p>
          <button (click)="addToCart1(bike)" type="button" class="form-control">Add to Cart</button>
        </div>
      </p-card>
    </div>
  </div>
